<%- include('./partials/header', {title, cssFile}) %>

<header class="header">
  <h1 id="title"><%= topicName %></h1>
</header>
<main>
  <button><a href="./">Accueil</a></button>
  <div id="message-list" class="message__list">
    <% for( let index = 0; index < topicData['content'].length; index++ ) { %>

    <article class="message">
      <header class="message__header">
        <h3 class="message__author"
          ><%= topicData['content'][index]['author'] %></h3
        >
      </header>
      <section class="message__main">
        <%= topicData['content'][index]['messageContent'] %>
      </section>
      <footer class="message__footer">
        <p
          >Poste le <%= topicData['content'][index]['date'] %><time
            datetime="2021-01-15T19:00"
            >19:00</time
          ></p
        >
      </footer>
    </article>

    <% } %>
  </div>

  <form
    method="POST"
    action="/post/creation"
    id="message-form"
    class="message__form"
  >
    <label for="message">Repondre:</label>
    <textarea
      name="message"
      id="message"
      class="message__area"
      placeholder="type your message here"
    ></textarea>
    <label for="username">ton pseudo</label>
    <input
      type="text"
      id="username"
      name="username"
      class="message__username"
    />
    <button class="btn__submit" type="submit">Poster</button>
  </form>
</main>

<%- include('./partials/footer') %>
